<button routerLink="/home">Accueil</button>

<form [formGroup]="form" novalidate (ngSubmit)="validate()">
  <div class="information">
    <div class="montant">
      <label for="montant">Montant</label>
      <input id="montant" formControlName="montant" type="number">
    </div>

    <div class="date">
      <label for="date">Date</label>
      <input id="date" formControlName="date" type="date">
    </div>

    <div class="desc">
      <label for="desc">Description</label>
      <textarea name="" id="desc" formControlName="desc" cols="30" rows="2"></textarea>
    </div>
  </div>


  <div class="payePar">
    <div class="radioTitle">Payé par</div>
    <div class="payeParCamille">
      <input id="payéParCamille" formControlName="payePar" name="payePar" type="radio" value="camille">
      <label for="payéParCamille">Camille</label>
    </div>
    <div class="payeParAlex">
      <input id="payéParAlex" formControlName="payePar" name="payePar" type="radio" value="alex">
      <label for="payéParAlex">Alex</label>
    </div>
  </div>

  <div class="pour">
    <div class="radioTitle">Pour</div>
    <div class="pourCamille">
      <input id="pourCamille" formControlName="pour" name="pour" type="radio" value="camille">
      <label for="pourCamille">Pour Camille</label>
    </div>
    <div class="pourAlex">
      <input id="pourAlex" formControlName="pour" name="pour" type="radio" value="alex">
      <label for="pourAlex">Pour Alex</label>
    </div>
    <div class="pourLesDeux">
      <input id="pourNous" formControlName="pour" name="pour" type="radio" value="les2">
      <label for="pourNous">Pour 2</label>
    </div>
  </div>

  <button type="submit" [disabled]="!form.valid || running">
    <i *ngIf="running" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    valider
  </button>
</form>
