$box-shadow: 1px 1px 2px 0px #656565;
div{
  width: 100%;
}

button{
  flex-grow: 1;
  margin: 0px 10px;
  border: none;
  padding: 15px 20px;
  border-radius: 30px;
  font-size: 1.1em;
  box-shadow: $box-shadow;
  color: black;
  background-color: rgba(90, 0, 32, 0.7);
}

.payePar, .pour, .information{
  width: 100%;
  margin: 20px 6px ;
  border-radius: 30px;
  background-color: rgba(0, 114, 77, 0.3);
  padding: 10px;
  box-shadow: $box-shadow;
}

.payeParCamille, .payeParAlex{
  flex-grow: 1;
  margin: 0px 10px;
  border: none;
  padding: 15px 20px;
  border-radius: 30px;
  font-size: 1.1em;
  box-shadow: $box-shadow;
  color: black;
  background-color: rgba(32, 176, 36, 0.7);
}

.pourAlex, .pourCamille, .pourLesDeux{
  flex-grow: 1;
  margin: 0px 10px;
  border: none;
  padding: 15px 20px;
  border-radius: 30px;
  font-size: 1.1em;
  box-shadow: $box-shadow;
  color: black;
  background-color: rgba(49.4, 57.6, 69, 0.7);
}


.montant{
text-align: center;
}
.date{
  text-align: center;
}
.desc{text-align: center}
