<h1 class="container-fluid">Compte</h1>

<div class="container-fluid " >
  <div class="row">
    <tbody>
        <tr>
          <th scope="row"></th>
          <td class="col-9"> Budget Alex du getTime()</td>
          <td class="col-3"> XXX</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td class="col-9"> Budget Camille du getTime()</td>
          <td class="col-3"> XXX</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td class="col-9"> Total Commun</td>
          <td class="col-3"> XXX</td>
        </tr>
    </tbody>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs">
      <button routerLink="/add">Rentrer une dépense</button>
    </div>
    <div class="col-xs">
      <button routerLink="/history">Rapport</button>
    </div>
  </div>
</div>

<div class="container-fluid " >
  <div class="row">
    <tbody>
      <tr>
        <th scope="row"></th>
        <td class="col-4"> Payé pour Alex</td>
        <td class="col-4">  Payé pour Camille</td>
        <td class="col-4">  Payé pour Camille/ALex</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td class="col-4"> XXX</td>
        <td class="col-4"> XXX</td>
        <td class="col-4"> XXX</td>
      </tr>
    </tbody>
  </div>
</div>
