<h1>Compte</h1>

<div class="recap">
  <h2>Budget</h2>
    <div class="indiv">
      <div class="montant Alex">
        <div> Budget Alex du getTime()</div>
        <div> XXX</div>
      </div>
      <div class="montant Camille">
        <div > Budget Camille du getTime()</div>
        <div> XXX</div>
      </div>
    </div>
    <div class="total montant">
      <div > Total Commun</div>
      <div> XXX</div>
    </div>
</div>

<div class="controls">
  <button routerLink="/history">Rapport</button>
  <button routerLink="/add">Rentrer une dépense</button>
</div>

<div class="recap">
  <h2>Payé</h2>
  <div class="indiv">
    <div class="montant Alex">
      <div> Alex</div>
      <div> XXX</div>
    </div>
    <div class="montant Camille">
      <div >Camille</div>
      <div> XXX</div>
    </div>
  </div>
  <div class="total montant">
    <div >Camille/Alex</div>
    <div> XXX</div>
  </div>
</div>
